*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box; }

::selection {
  background-color: var(--color-primario);
  color: #fff; }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  line-height: 1.6; }

.titulo-principal {
  font-size: 5.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
  margin-top: -3rem;
  display: inline-block;
  background-image: linear-gradient(to right, #8b1212, #a24141);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.parrafo-principal {
  font-size: 1.8rem;
  color: #363636;
  margin-bottom: 1.8rem;
  margin-top: -2rem; }

@media only screen and (max-width: 56.25em) {
  .parrafo-principal {
    margin-bottom: 2.4rem; } }

.mrg-parrafo {
  margin-bottom: 4.8rem !important;
  margin-top: -4.8rem !important; }

.mrg-mayor {
  margin-top: -6.6rem !important;
  margin-bottom: 6rem !important; }

.padding-tit {
  padding: 2.4rem 0 3.2rem 0; }

.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(to right bottom, #d1a0a0, #f3e7e7);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  gap: 1.6rem;
  overflow: hidden; }
  .contacto__texto {
    padding: 3.2rem; }
  .contacto__img {
    background-image: url("../imagenes del negocio/contacto.webp");
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right bottom, rgba(209, 160, 160, 0.3), rgba(243, 231, 231, 0.3)), url("../imagenes del negocio/contacto.webp"); }

.contacto__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  align-items: center; }
  .contacto__form label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    color: #8b1212;
    font-weight: 700; }
  .contacto__form input,
  .contacto__form textarea {
    width: 100%;
    padding: 1.8rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    border-radius: 9px;
    color: #555;
    outline: none;
    display: block;
    border-bottom: 3px solid transparent; }
  .contacto__form input:focus {
    border-bottom: 3px solid green; }
  .contacto__form input:focus:invalid {
    border-bottom: 3px solid red; }

@media only screen and (max-width: 43.75em) {
  .contacto {
    grid-template-columns: 1fr;
    height: auto;
    justify-content: end; }
    .contacto__img {
      height: 55rem;
      grid-row: 1; } }

.boton {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: #fff;
  transition: all 0.4s;
  width: 100%; }
  .boton:hover {
    background-color: #fff;
    color: var(--color-primario); }

.plomero-flex {
  display: grid;
  padding-top: 3.4rem;
  padding-bottom: 6.4rem;
  gap: 6.4rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.plomero {
  background-color: #fff;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); }
  .plomero__contenedor {
    padding: 3.2rem; }
  .plomero__img {
    margin-bottom: 1.6rem;
    width: 100%; }
  .plomero__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .plomero__li {
    font-size: 1.8rem;
    color: #363636;
    display: flex;
    align-items: center;
    gap: 1.6rem; }
  .plomero__icono {
    height: 2.4rem;
    width: 2.4rem;
    fill: #8b1212; }

.producto__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  list-style: none;
  grid-gap: 4.8rem;
  justify-items: center; }
  .producto__ul--link {
    transition: all 0.3s; }
    .producto__ul--link:hover {
      transform: translateY(-2rem); }
  .producto__ul--img {
    height: 16rem;
    width: 16rem;
    border-radius: 50%; }

@media only screen and (max-width: 75.75em) {
  .producto__ul {
    grid-gap: 2.4rem; } }

.quienes-somos {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: start;
  gap: 9.6rem; }

@media only screen and (max-width: 56.25em) {
  .quienes-somos {
    grid-template-columns: 1fr;
    gap: 3.2rem; } }

.header-img {
  background-image: linear-gradient(to right bottom, rgba(209, 160, 160, 0.8), rgba(162, 65, 65, 0.8)), url(../productos/img-neg.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative; }

.header__texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.titulo--primario {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }

.titulo-primario-principal {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveUp;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  font-family: "Lato", sans-serif; }

.titulo-primario-sub {
  display: block;
  letter-spacing: 1.75rem;
  font-size: 2rem;
  font-weight: 700;
  animation: moveInRight 1s ease-in;
  font-family: "Lato", sans-serif; }

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 4.8rem;
  background-color: #f3e7e7; }

@media only screen and (max-width: 56.25em) {
  .header-img {
    clip-path: none; } }

@media only screen and (max-width: 37.5em) {
  .titulo-primario-principal,
  .titulo-primario-sub {
    letter-spacing: 1.5rem; } }

@media only screen and (max-width: 31.25em) {
  .titulo-primario-principal,
  .titulo-primario-sub {
    font-size: 4rem; } }

.instalacion-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  justify-content: space-between; }

@media only screen and (max-width: 75.75em) {
  .instalacion-flex {
    justify-content: center;
    width: 100%;
    height: 100%; } }

.footer {
  padding: 9.6rem 0;
  margin: 0 auto;
  background-color: #fff; }
  .footer__address {
    display: flex;
    flex-direction: column;
    padding: 0 9.6rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__address {
        padding: 0rem 3rem; } }
  .footer__info:link, .footer__info:visited {
    text-decoration: none;
    color: #767676;
    margin-bottom: 1.2rem;
    transition: all 0.4s;
    font-size: 1.8rem; }
  .footer__info:hover, .footer__info:active {
    color: #8b1212; }
  .footer__ul {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    margin-top: 4.8rem;
    list-style: none; }
  .footer__icono {
    height: 5rem;
    width: 5rem;
    fill: #767676;
    transition: all 0.3s; }
  .footer__icono:hover {
    fill: #8b1212;
    transform: translateY(-2rem); }

@media only screen and (max-width: 75.75em) {
  address {
    padding: 0 3.2rem; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4.8rem;
  background-color: #f3e7e7;
  position: relative; }

.logo {
  height: 5.4rem; }

.navegador__ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center; }
  .navegador__ul--link:link, .navegador__ul--link:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    color: #8b1212;
    transition: all 0.4s; }
    .navegador__ul--link:link:hover, .navegador__ul--link:link:active, .navegador__ul--link:visited:hover, .navegador__ul--link:visited:active {
      color: #b97171; }

/* icono del menu en moviles------ */
.btn-mov-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mov-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #8b1212; }

.icon-mov-nav[name="close-outline"] {
  display: none; }

@media only screen and (max-width: 56.25em) {
  .btn-mov-nav {
    display: block;
    z-index: 9999; }
  .navegador {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    visibility: hidden; }
  .nav-abierto .navegador {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); }
  .nav-abierto .icon-mov-nav[name="close-outline"] {
    display: block; }
  .nav-abierto .icon-mov-nav[name="menu-outline"] {
    display: none; }
  .navegador__ul {
    flex-direction: column;
    gap: 4.8rem; }
    .navegador__ul--link:link, .navegador__ul--link:visited {
      font-size: 3rem; } }

@media only screen and (max-width: 31.25em) {
  .logo {
    height: 4.2rem; } }

.section-quienesSomos,
.section-producto,
.section-instalacion,
.section-contacto,
.section-plomero {
  background-color: #f3e7e7;
  padding: 4.8rem 6.4rem;
  margin: 0 auto; }

@media only screen and (max-width: 37.5em) {
  .section-quienesSomos,
  .section-producto,
  .section-instalacion,
  .section-contacto,
  .section-plomero {
    padding: 4.8rem 3rem; } }

@media only screen and (max-width: 31.25em) {
  .section-producto {
    display: grid;
    grid-column: 1fr; } }

/* -----------------------------MEDIA QUERY---------- */
