/* font-family: 'Rubik', sans-serif; 
              "lato" */

/* ----------------------------VARIABLES */
:root {
  --color-primario: #8b1212;
  --color-primario-hoover: #b97171;
  --color-primario-med: #a24141;
  --color-primario-claro: #f3e7e7;
  --color-primario-contacto: #d1a0a0;

  --color-gris: #363636;
  --color-gris-claro: #767676;
  --color-gris-input: #555;
}
/*----------------------- RESETEO------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}
::selection {
  background-color: var(--color-primario);
  color: #fff;
}

/* ------------------------------TIPOGRAFIA ----------------*/
.titulo-principal {
  font-size: 5.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
  margin-top: -3rem;
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-primario), var(--color-primario-med));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.parrafo-principal {
  font-size: 1.8rem;
  color: var(--color-gris);
  margin-bottom: 1.8rem;
  margin-top: -2rem;
}

/* ------------------------SECCIONES--------- */

.section-quienesSomos,
.section-producto,
.section-instalacion,
.section-contacto,
.section-plomero {
  background-color: var(--color-primario-claro);
  padding: 4.8rem 6.4rem;
  margin: 0 auto;
}

/* ----------------------------INDEX---------------- */
.header-img {
  background-image: linear-gradient(to right bottom, rgba(197, 137, 137, 0.8), rgba(162, 65, 65, 0.8)), url(../imagenes\ del\ negocio/img-neg.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}
.header__texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.titulo--primario {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
}

.titulo-primario-principal {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveUp;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.titulo-primario-sub {
  display: block;
  letter-spacing: 1.75rem;
  font-size: 2rem;
  font-weight: 700;
  animation: moveInRight 1s ease-in;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 4.8rem;
  background-color: var(--color-primario-claro);
}

/* -------------------------------NAVBAR---------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4.8rem;
  background-color: var(--color-primario-claro);
  position: relative;
}

.logo {
  height: 5.4rem;
}

.navegador__ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.navegador__link:link,
.navegador__link:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-primario);
  transition: all 0.4s;
}

.navegador__link:hover,
.navegador__link:active {
  color: var(--color-primario-hoover);
}

/* icono del menu en moviles------ */

.btn-mov-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mov-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-primario);
}
.icon-mov-nav[name="close-outline"] {
  display: none;
}

/* --------------------------------QUIENESOMOS------- */

.quienes-somos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
}
.quienes-somos__img {
  width: 100%;
}

/* -------------------------------------CONTACTO----------- */

.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(to right bottom, var(--color-primario-contacto), var(--color-primario-claro));
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);

  gap: 1.6rem;
  overflow: hidden;
}

.contacto__texto {
  padding: 3.2rem;
}

.contacto__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  align-items: center;
}

.contacto__form label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: var(--color-primario);
  font-weight: 700;
}
.contacto__form input,
.contacto__form textarea {
  width: 100%;
  padding: 1.8rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  color: var(--color-gris-input);
  outline: none;
  display: block;
  border-bottom: 3px solid transparent;
}

.contacto__form input:focus {
  border-bottom: 3px solid green;
}
.contacto__form input:focus:invalid {
  border-bottom: 3px solid red;
}

.boton {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  background-color: var(--color-primario);
  color: white;
  transition: all 0.4s;
  width: 100%;
}

.boton:hover {
  background-color: #fff;
  color: var(--color-primario);
}

.contacto__img {
  background-image: url("../imagenes\ del\ negocio/contacto.webp");
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(209, 160, 160, 0.3), rgba(243, 231, 231, 0.3)), url("../imagenes\ del\ negocio/contacto.webp");
}

/* ------------------------------PRODUCTO---------- */

.producto__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  list-style: none;
  grid-gap: 4.8rem;
  justify-items: center;
}

.producto__img {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
}
.padding-tit {
  padding: 2.4rem 0 3.2rem 0;
}
.producto__link {
  transition: all 0.3s;
}
.producto__link:hover {
  transform: translateY(-2rem);
}

/* ---------INSTALACION------ */

.instalacion-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  justify-content: space-between;
}

.mrg-parrafo {
  margin-bottom: 4.8rem;
  margin-top: -4.8rem;
}
.mrg-mayor {
  margin-top: -6.6rem;
  margin-bottom: 6rem;
}
/* ---------------------------------PLOMEROS-------------- */
.plomero-flex {
  display: grid;
  padding-top: 3.4rem;
  padding-bottom: 6.4rem;
  gap: 6.4rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.plomero {
  background-color: white;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.plomero__contenedor {
  padding: 3.2rem;
}
.plomero__img {
  margin-bottom: 1.6rem;
  width: 100%;
}
.plomero__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.plomero__li {
  font-size: 1.8rem;
  color: var(--color-gris);
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.plomero__icono {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-primario);
}

/* -------------------------------FOOTER------------- */
.footer {
  padding: 9.6rem 0;
  margin: 0 auto;
  background-color: white;
}
address {
  display: flex;
  flex-direction: column;
  padding: 0 9.6rem;
}

.footer__info:link,
.footer__info:visited {
  text-decoration: none;
  color: var(--color-gris-claro);
  margin-bottom: 1.2rem;
  transition: all 0.4s;
  font-size: 1.8rem;
}

.footer__info:hover,
.footer__info:active {
  color: var(--color-primario);
}

.footer__ul {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  margin-top: 4.8rem;
  list-style: none;
}

.footer__icono {
  height: 5rem;
  width: 5rem;
  color: var(--color-gris-claro);
  transition: all 0.3s;
}

.footer__icono:hover {
  color: var(--color-primario);
  transform: translateY(-2rem);
}

/* -----------------------------MEDIA QUERY---------- */

@media only screen and (max-width: 75.75em) {
  /* 1212px */
  html {
    font-size: 56.25%;
  }
  /* instalacion */
  .instalacion-flex {
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  /* footer */
  address {
    padding: 0 3.2rem;
  }
  .producto__ul {
    grid-gap: 2.4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  /* 900 px */
  html {
    font-size: 50%;
  }

  /* index */
  .quienes-somos {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .parrafo-principal {
    margin-bottom: 2.4rem;
  }
  .btn-mov-nav {
    display: block;
    z-index: 9999;
  }
  .navegador {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    position: fixed;
    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-abierto .navegador {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-abierto .icon-mov-nav[name="close-outline"] {
    display: block;
  }

  .nav-abierto .icon-mov-nav[name="menu-outline"] {
    display: none;
  }

  .navegador__ul {
    flex-direction: column;
    gap: 4.8rem;
  }
  .navegador__link:link,
  .navegador__link:visited {
    font-size: 3rem;
  }
  .header-img {
    clip-path: none;
  }
}

@media only screen and (max-width: 43.75em) {
  /* 700px */
  .contacto {
    grid-template-columns: 1fr;
    height: auto;
    justify-content: end;
  }
  .contacto__img {
    height: 55rem;
    grid-row: 1;
  }
  .footer__list {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 37.5em) {
  /* 600px */
  .titulo-primario-principal,
  .titulo-primario-sub {
    letter-spacing: 1.5rem;
  }
  .section-quienesSomos,
  .section-producto,
  .section-instalacion,
  .section-contacto,
  .section-plomero {
    padding: 4.8rem 0rem;
  }
}

@media only screen and (max-width: 31.25em) {
  /* 500px */
  .section-producto {
    display: grid;
    grid-column: 1fr;
  }
  .logo {
    height: 4.2rem;
  }
  .titulo-primario-principal,
  .titulo-primario-sub {
    font-size: 4rem;
  }
}
