$color-primario: #8b1212;
$color-primario-hoover: #b97171;
$color-primario-med: #a24141;
$color-primario-claro: #f3e7e7;
$color-primario-contacto: #d1a0a0;

$color-gris: #363636;
$color-gris-claro: #767676;
$color-gris-input: #555;

$color-white: #fff;
