.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4.8rem;
  background-color: $color-primario-claro;
  position: relative;
}

.logo {
  height: 5.4rem;
}

.navegador__ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  &--link:link,
  &--link:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    color: $color-primario;
    transition: all 0.4s;

    &:hover,
    &:active {
      color: $color-primario-hoover;
    }
  }
}

/* icono del menu en moviles------ */

.btn-mov-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mov-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $color-primario;
}
.icon-mov-nav[name="close-outline"] {
  display: none;
}

@media only screen and (max-width: 56.25em){
  .btn-mov-nav {
    display: block;
    z-index: 9999;
  }
  .navegador {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    position: fixed;
    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-abierto .navegador {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-abierto .icon-mov-nav[name="close-outline"] {
    display: block;
  }

  .nav-abierto .icon-mov-nav[name="menu-outline"] {
    display: none;
  }

  .navegador__ul {
    flex-direction: column;
    gap: 4.8rem;

    &--link:link,
    &--link:visited {
    font-size: 3rem;
  }
  }
  
}

@media only screen and (max-width: 31.25em) {
  
  .logo {
    height: 4.2rem;
  }
}