.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(to right bottom, $color-primario-contacto, $color-primario-claro);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  gap: 1.6rem;
  overflow: hidden;

  &__texto {
    padding: 3.2rem;
  }
  &__img {
    background-image: url("../imagenes\ del\ negocio/contacto.webp");
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right bottom, rgba(209, 160, 160, 0.3), rgba(243, 231, 231, 0.3)), url("../imagenes\ del\ negocio/contacto.webp");
  }
}

.contacto__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  align-items: center;

  & label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    color: $color-primario;
    font-weight: 700;
  }
  & input,
  & textarea {
    width: 100%;
    padding: 1.8rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    border-radius: 9px;
    color: $color-gris-input;
    outline: none;
    display: block;
    border-bottom: 3px solid transparent;
  }
  & input:focus {
    border-bottom: 3px solid green;
  }
  & input:focus:invalid {
    border-bottom: 3px solid red;
  }
}

@media only screen and (max-width: 43.75em) {
  .contacto {
    grid-template-columns: 1fr;
    height: auto;
    justify-content: end;
    
    &__img {
    height: 55rem;
    grid-row: 1;
  }
  }
  
}
