.producto__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  list-style: none;
  grid-gap: 4.8rem;
  justify-items: center;
  &--link {
    transition: all 0.3s;

    &:hover {
      transform: translateY(-2rem);
    }
  }
  &--img {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
  }
}
