.quienes-somos {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: start;
  gap: 9.6rem;
}

@media only screen and (max-width: 56.25em) {
  .quienes-somos {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}
