.quienes-somos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
  &__img {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
    .quienes-somos {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}
