.mrg-parrafo {
  margin-bottom: 4.8rem !important;
  margin-top: -4.8rem !important;
}
.mrg-mayor {
  margin-top: -6.6rem !important;
  margin-bottom: 6rem !important;
}

.padding-tit {
  padding: 2.4rem 0 3.2rem 0;
}
